@using System.Diagnostics.Eventing.Reader
@using testMvcProject.Models.DAOs.ResourcesDAOs
@using testMvcProject.Models.Resources.ImplementedResources
@model resourceDAO;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Страница со складом</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Admin/ResourcesOnStock.css" />
    <script src="/script.js"></script>



    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="menu">
        <div class="title"><h1><span>М</span>ЕНЮ</h1></div>
        <div class="list_menu">
            <ul>
                <li><a href="/User/AboutUs">О нас</a></li>
                <li><a href="/User/AdditionalServices">Услуги</a></li>
                <li><a href="/User/Orders">Корзина</a></li>
                <li><a href="/User/Authorization">Вход</a></li>
            </ul>
        </div>
    </div>

    <div class='header1'>
        <div class='container1'>
            <div class='header-line1'>


                <div class='btn1'>
                    <a class='button1' href="/Admin/Requests">Заявки</a>
                </div>

                <div class='btn2'>
                    <a class='button2' href="/Admin/OrdersInProgress">Активные заказы</a>
                </div>

                <div class='btn3'>
                    <a class='button3' href="/Admin/ResourcesOnStock">Склад</a>
                </div>

                <div class='btn4'>
                    <a class='button4' href="/Admin/UsersDB">Заказчики</a>
                </div>

            </div>


        </div>
    </div>


    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Профиль</h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Добавить</span></a>

                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Состояние</th>
                        <th>Имя</th>
                        <th>Количество</th>
                        <th>Закупочная стоимость</th>
                        <th>Погонная стоимость</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label><input type="checkbox" class="ios-switch green  bigswitch" /><div><div></div></div></label>
                        </td>

                        <td>Нарышкин</td>
                        <td>150</td>
                        <td>300404040044</td>
                        <td>40404040440404</td>
                        <td>

                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><input type="checkbox" class="ios-switch green  bigswitch" /><div><div></div></div></label>
                        </td>
                        <td>ВИКа</td>
                        <td>11</td>
                        <td>334434</td>
                        <td>5090950</td>
                        <td>

                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><input type="checkbox" class="ios-switch green  bigswitch" /><div><div></div></div></label>
                        </td>

                        <td>Варя</td>
                        <td>5090555</td>
                        <td>40940444444444444</td>
                        <td>55555555555555555555</td>
                        <td>

                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Добавить профиль</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Название</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Количество</label>
                            <input type="number" min="0" value="0" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Закупочная стоимость</label>
                            <input type="number" class="form-control" required></input>
                        </div>
                        <div class="form-group">
                            <label>погонная стоимость</label>
                            <input type="number" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Назад">
                        <input type="submit" class="btn btn-success" value="Добавить">
                    </div>
                </form>
            </div>
        </div>
    </div>


<body>

<div>
	<p>Рублей - @Model.BalanceDao.GetCurrencyNumber("Ruble")</p>
</div>



<div class="container">
	<div class="table-wrapper">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-6">
					<h2>Список фурнитуры</h2>
				</div>
				<div class="col-sm-6">
					<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Добавить</span></a>

				</div>
			</div>
		</div>



		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>Состояние</th>
				<th>Имя</th>
				<th>Количество</th>
				<th>Закупочная стоимость</th>
				<th>Погонная стоимость</th>
			</tr>

			</thead>

			<tbody>

			@foreach (var furniture in Model.FurnitureDao.getFurnitureList())
			{
				<tr>

					<td>

						<label>

							@{
								if (furniture.activePosition == false)
								{
									<p>неактивно</p>
								}
								else
								{
									<p>активно</p>
								}

							}

							<form action="/Admin/ChangeActionPosition" method="post">
								<input name="name" type="hidden" value="@furniture.Name"/>
								<button type="submit">изменить</button>
							</form>

							<div>
								<div></div></div>
						</label>

					</td>

					<td>@furniture.Name</td>
					<td>@furniture.onStock</td>
					<td>@furniture.CostPrice</td>
					<td>@furniture.storeMargin</td>

					<td>

						<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
					</td>

				</tr>

			}



			</tbody>
		</table>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="/Admin/AddFurniture" method="post">
				<div class="modal-header">
					<h4 class="modal-title">Добавить фурнитуру</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Название</label>
						<input name="name" type="text" class="form-control" required>
					</div>

					<div class="form-group">
						<label>Закупочная стоимость</label>
						<input name="costPrice" type="number" class="form-control" required></input>
					</div>

					<div class="form-group">
						<label>погонная стоимость</label>
						<input name="marginPrice" type="number" class="form-control" required>
					</div>

					<div class="form-group">
						<label>Количество</label>
						<input name="count" type="number" min="0" value="0" class="form-control" required></div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Назад">

					<input type="submit" class="btn btn-success" value="Добавить">

				</div>
			</form>
		</div>
	</div>
</div>


<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Удалить профиль</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Вы уверены что хотите удалить этот объект?</p>

				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Назад">
					<input type="submit" class="btn btn-danger" value="Удалить">
				</div>
			</form>
		</div>
	</div>
</div>

</body>
</html>