@using testMvcProject.DataBaseDAOs.Resources;
@model ResourceClass;


@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
	
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap"
		rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300&display=swap" rel="stylesheet">
	
<link rel="stylesheet" href="slyle.css">
	
	<title>UnionWindows</title>
</head>
<header class="header">
  
        <div class="header__inner">
        <div class="header__logo">
            <img src="~/img/AboutUs/logo.png" alt="">
        </div>
        
        <div class="nav">
            <a class ="nav__link" href="~/User/AboutUs">О нас</a>
			<a class ="nav__link" href="~/User/Calculator">Калькулятор</a>
			<a class ="nav__link" href="~/User/Orders">Корзина</a>
			<a class ="nav__link" href="~/User/Authorization">Вход</a>
 
        </div>
    </div>

</header>


<body>
    	
   

    

    <div class = "fill"></div>
    <div class="container">
        <form action="#"class = "form form1">
            <div class="form__item">
                <h2 class="heading">Рассчитайте стоимость своего окна</h2>
                <ul class="switcher">
                    <div class="select">

                        <select id="profile" onchange="calc()">
                            <option value="" disabled selected>Профиль</option>
                            @{foreach (var profile in Model.profileManager.GetAll())
                                {
                                    <option class="profil" id="@profile.ID" value="@profile.pricePerMeter">@profile.Name</option>
                                }
                            }
                        </select>

                        <select id="furniture" onchange="calc()">
                            <option value="" disabled selected>Фурнитура</option>
                            @{foreach (var furniture in Model.furnitureManager.GetAll())
                                {
                                    <option class="furniture" id="@furniture.ID" value="@furniture.pricePerOnce">@furniture.Name</option>
                                }
                            }
                        </select>

                        <select id="camers" onchange="calc()">
                            <option value="" disabled selected>Кол-во камер</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <select id="sashes" onchange="changeImg(sashes.value); calc();">
                            <option value="" disabled selected>Кол-во створок</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    
                </ul>
            </div>
           
            <div class="form__item">
                
            <div class="slider2">
                
                <input type="range" name ="height"  id="height" step = "1" min="0" max="400" value="0" onchange="calc()"/>
                <div class="window"><img src="~/img/AboutUs/window1.png" id="window_img"alt=""></div>
                </div>
                <output id="volume2" for="height" > 0</output>
                <div class="slider">
                <input type="range" name ="width"  id="width" step = "1" min="0" max="400" value="0" onchange="calc()"/>
                <output id="volume" for="width" > 0</output>
            </div>
                <div class="form__item">
                    <h2 class="heading">Дополнительные услуги</h2>
                    <div class="option__item">
                        <input type="checkbox" onchange="calc()" name="option1" id="option1" value="300" class="option"/>
                        <label for="option1" class="checkmark"></label>
                        <label for="option1">Подмести пол</label>
                    </div>
                    <div class="option__item">
                        <input type="checkbox" onchange="calc()" name="option2" id="option2" value="1" class="option"/>
                        <label for="option2" class="checkmark"></label>
                        <label for="option2">Выгнать Нарышкина из комнаты</label>
                    </div>
                    <div class="option__item">
                        <input type="checkbox" onchange="calc()" name="option3" id="option3" value="500" class="option"/>
                        <label for="option3" class="checkmark"></label>
                        <label for="option3">Выйти из окна</label>
                    </div>
                </div>
            </div>
        </form>
        <form action="#"class = "form form2">
            <div class="">
                <h2 class="heading">Ваш заказ:</h2>
                <div>
                    <span>Стоимость профиля:</span>
                    <span><output id="profile_price">0</output> рублей/м²</span>
                </div>

                <div>
                    <span>Стоимость фурнитуры:</span>
                    <span><output id="furniture_price">0</output> рублей/шт</span>
                </div>

                <div>
                    <span>Фурнитуры необходимо для такого типа окна:</span>
                    <span><output id="how_many_furniture"></output></span>
                </div>


                <div>

                    <span>Кол-во камер:</span>
                    <span><output id="camers_amount"></output> шт.</span>
                </div>
                <span>Кол-во створок:</span>
                <span><output id="sashes_amount"></output> шт.</span>
            </div>
            <div>
            <span>Дополнительные услуги:</span>
            <span><output id="additionally">0</output> рублей</span>
        </div>
        <div>
            <div class="form__item">
                <h2 class="heading">Итоговая стоимость:</h2>
                <div><span id="result">0</span> руб.</div>
            </div>
        <button type="submit" id="add">В корзину</button>
        </div>
        </form>
    </div>
    <script src="~/js/User/Calc.js"></script>

<style>

    *,
    *::after,
    *::before{
        box-sizing: inherit;
    }
    body{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    width: 100%;
    margin: 0px;
    min-height: 100%;
    color: white;
    background-image: url(window.jpg);
    background-size: cover;
    box-sizing: border-box;
    
    }
    .header {
    width: 100%;
    position: relative;
    height: 100px;


}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #E79472;
    align-items: center;
    padding: 35px 0px;
    width: 100%;

}


.nav {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    color: #000000;
    text-decoration: none;
    transition: .2s linear;
    margin-left: 50px;
}

:hover.nav__link {
    color: #747474;
}

:first-child.nav__link {
    margin-left: 0;
}
    .container{
        width: 90%;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;

 
    }
    .form{
        width: 80%;
        height: 100%;
        background-color: #fff;
        border-radius: 25px;
        padding:30px;
        color: #E79472;

    }
    .form output {
        color: red;
    }
    .form1{
        position: absolute;
        flex-basis: 900px ;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 50px;
        height: 1200px;
        position: absolute;
        width: 900px;
        left: 50px;
        top: 140px;
    }
    .form2{
        position: absolute;
        height: 450px;
        width: 400px;
        left: 1000px;
        top: 140px;
    }

    .form__item span{
        color: red;
    }

    .form .heading{
        margin-bottom: 30px;
        font-size: 30px;

    }
    .switcher{
    display: flex;
    width: 900px;
    height: 40px;
    margin-bottom: 400px;
}
.switcher__item {
    margin-bottom: 30px;


}

#width{
-webkit-appearance: none;
width: 800px;
height: 10px;
background-color: #f7eae5;
border-radius: 20px;
outline: none;
}
#height{
-webkit-appearance: none;
width: 500px;
height: 10px;
background-color: #f7eae5;
border-radius: 20px;
outline: none;
}

#volume{
    font-size: 30px;
    margin-right: 30px;
    color: #E79472;
}
#volume2{
    font-size: 30px;
    color: #E79472;
    position: absolute;
    top:185px;
    left: 35px;
}
.slider{
    align-items: center;
    margin-left: 15px;
}

.slider2{
  width: 60px;
  height: 150px;
}
.window {
    height: auto;
    position: absolute;
    top:250px;
    left: 80px;
    z-index: 2;
    height: 300px;
}

.window img{
    height: 450px;
    image-rendering: pixelated;
}
.slider2 input {

margin-left: 7px;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}
#width::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: #E79472;
    border-radius: 50%;
    cursor: pointer;
}
#height::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: #E79472;
    border-radius: 50%;
    cursor: pointer;
}


.option__item{
margin-bottom: 15px;
display: flex;
align-items: center;
}
.option__item input{
    display: none;
}
.option__item .checkmark{
    display: block;
    width: 30px;
    height: 30px;
    background-color:#f7eae5 ;
    margin-right: 15px;
    cursor: pointer;
    position: relative;

}
.option__item .checkmark::after{
    display: none;
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #E79472;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.option__item input:checked + .checkmark::after{
    display: block;
}
.form2 .order output{
    margin-left: 10px;
    font-size: 15px;

}
.form2 .total{
    font-size: 0px;
    font-weight: 400;
    position: relative;
}
.form2 .total::after{
    content: "\20BD";
}
.select{
    position: relative;
    margin-bottom: 1rem;
}


.select select{
    padding: 0.75rem 1rem;
    background: none;
    border-radius: 4px ;
    border:1px solid #ccc;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    color: #E79472;
}

#add {
    margin-top: 40px;
    width: 100px;
    height: 40px;
}

button{
    background-color: #E79472; 
    border: none;
    color: white;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;

    font-size: 19px;
    border-radius: 5px;
    cursor: pointer;
    font-family:inherit;
}

button:hover{
background-color: #f55c1f;


}

    </style>
    
</body>

</html>