@using Microsoft.AspNetCore.Http
@model List<testMvcProject.DataBase.Window>;

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/User/Orders.css" />

    <title>UnionWindows</title>
</head>

<header class="header">

    <div class="header__inner">
        <div class="nav">
            <a class="nav__link" href="~/User/AboutUs">О нас</a>
            <a class="nav__link" href="~/User/Calculator">Калькулятор</a>
            <a class="nav__link" href="~/User/Orders">Корзина</a>
            <a class="nav__link" href="~/User/Authorization">Вход</a>

        </div>
    </div>

</header>

<body>

    <section class="section-cart">
        <header class="section-cart__header">
            <div class="container">
                <h1 class="title-1">Корзина товаров</h1>
            </div>
        </header>
        <div class="section-cart__body">
            <div class="container">

                <section class="cart">
                    <header class="cart-header">
                        <div class="cart-header__title">размер</div>
                        <div class="cart-header__count">профиль</div>
                        <div class="cart-header__cost">фурнитура</div>
                        <div class="cart-header__cost">кол-во камер</div>
                        <div class="cart-header__cost">кол-во створок</div>
                        <div class="cart-header__cost">стоимость</div>
                    </header>
    <p>@Model.Count</p>
                    @{
                        foreach (var window in Model)
                        {
                            <section class="product">
                            <div class="product__size">@window.height * @window.width</div>
                            <div class="product__profile">@window.ProfileID</div>
                            <div class="product__furniture">@window.FurnitureID</div>
                            <div class="product__numOFcams">@window.howManyCameras</div>
                            <div class="product__numOFdoors">@window.howManySashes</div>
                            <div class="product__price">@window.price руб.</div>
                            <div class="product__controls">
                                <button type="button">
                                    <img width="35" height="35" src="~/img/Orders/кнопка_удалить.png" alt="Удалить">
                                </button>
                            </div>
                        </section>
                        }


                    }

                    <footer class="cart-footer">
                        @{
                            int totalSumm = 0;
                            foreach(var window in Model)
                            {
                                totalSumm += window.price;
                            }
                        }
                        <div class="cart-footer__price">Итого: @totalSumm руб.</div>
                        <div class="cart-footer__order">
                            <a class="title-2" href="~/User/createOrder">Оформить заказ</a>
                        </div>
                    </footer>
                </section>

            </div>
        </div>
    </section>



</body>




</html>
